.card-container {
  border-radius: 4px;
  margin: 8px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.1s ease-in-out;
  border: none;
  outline: none;

  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  .card-header {
    background: #222;
    position: relative;

    .movie-info {
      opacity: 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 0px;
      background: #000;
      color: #fff;
      -webkit-transition: opacity 250ms;
      -moz-transition: opacity 250ms;
      -o-transition: opacity 250ms;
      transition: opacity 250ms;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      font-family: 'PT Sans', sans-serif;

      .movie-title {
        padding: 8px 0 0 8px;
        margin: 8px 0 0 0;
        font-size: 1.4em;
      }

      .movie-date {
        padding: 8px;
        margin: 0;
        font-size: 1em;
      }

      .movie-overview {
        font-size: 1em;
        padding: 0 8px;
      }
    }

    &:hover .movie-info {
      opacity: 0.8;
    }

    .movie-image {
      display: block;
      max-width: 100%;
      max-width: 300px;
    }
  }
  .card-content {
    padding: 16px;
    background: #eee;
  }
}
