.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: #222;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .logo-container {
    width: 100px;
    text-align: center;
    padding: auto;
    text-decoration: none;

    .logo-text {
      height: 60px;
      font-size: 1.2em;
      color: #fff;

      &:hover {
        color: #3498db;
      }
    }
  }
}
